<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card cad-body bg-dark p-4 text-white rounded-0">
        <h1>Update a task</h1>
        <form action="/tasks/{{task._id}}/edit" method="POST">
          <div class="mb-3">
            <label for="title">Write a title:</label>
            <input type="text" name="title" id="title" placeholder="Title" class="form-control mt-2 rounded-0 bg-dark text-white" value="{{task.title}}">
          </div>
          <div class="mb-3">
            <label for="description">Description:</label>
            <textarea name="description" placeholder="Description" class="form-control mt-2 rounded-0 bg-dark text-white">{{task.description}}</textarea>
          </div>
          <button class="mt-3 btn btn-secondary">Update</button>
          <a href="/" class="mt-3 btn btn-outline-secondary">Volver</a>
        </form>
      </div>
    </div>
  </div>
</div>